<div class='page-name'>all-pushes</div>

<div class='buttons-row'>
    <a routerLink='/' mat-button><mat-icon>home</mat-icon></a>
    <a routerLink='/{{ pushDefName | async }}' mat-button>{{ pushDefName | async }}</a>
</div>

<table *ngIf='pushInfos | async as pushInfos'>
    <thead>
        <tr>
            <th>Push handle</th>
            <th>Last change</th>
        </tr>
    </thead>
    <tr *ngFor='let i of pushInfos'>
        <td>
            <a routerLink='/{{ i.pushHandle }}'>{{ i.pushHandle }}</a>
        </td>
        <td>{{ i.lastChangeNsec}}</td>
    </tr>
</table>
