<div class='page-name'>one-push</div>

<div class='buttons-row'>
    <a routerLink='/' mat-button><mat-icon>home</mat-icon></a>
    <a routerLink='/{{ pushDefName | async }}' mat-button>{{ pushDefName | async }}</a>
    <a routerLink='/{{ pushHandle | async }}' mat-button>{{ pushHandle | async }}</a>
</div>

<table *ngIf='pushInfo | async as pushInfo'>
    <thead>
        <tr>
            <th>Start time</th>
            <th>Stage</th>
            <th>Attempt</th>
            <th>State</th>
        </tr>
    </thead>
    <tr *ngFor='let i of pushInfo.stateInfo'>
        <td>{{ formatTimeNsec(i.startTimeNsec) }}</td>
        <td>{{ i.stage }}</td>
        <td>{{ i.attempt }}</td>
        <td>{{ i.state }}</td>
    </tr>
</table>
