<app-page-name>my-pushes</app-page-name>

<app-button-row>
    <app-button link='/'>Home</app-button>
</app-button-row>

<table class='collapse bb bw1 b--black'>
    <thead>
        <tr class='bb bw1 b--black'>
            <th class='tl br'>Push def</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tr class='hover-bg-light-gray hover-cursor-default'
        *ngFor='let i of pushDefs; first as isFirst; last as isLast'>
        <td class='br ph1'
            [class.pt2]='isFirst'
            [class.pb2]='isLast'>
            <a routerLink='{{ i.name }}'>{{ i.name }}</a>
        </td>
        <td class='tr ph1'
            [class.pt2]='isFirst'
            [class.pb2]='isLast'>
            {{ i.notes }}
        </td>
    </tr>
</table>
