.barchart {
    height: 420px;
    width: 1000px;
}

.selectButton {
    position: absolute;
    top: 80px;
    left: 930px;
}

.tooltip:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    bottom: -9px;
    left: 50%;
}
